# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3
venv/

# Node
node_modules/

# Envs & secrets
.env
*.env

# Data
/data/*
!data/.gitkeep

# Thumbnails (downloaded images)
thumbs/
backend/thumbs/
**/thumbs/

# OS
.DS_Store
Thumbs.db